{% extends "__bt__.html" %}

{% block content %}



{% if nav['login']!="" %}
    <section class="section container">

        <h1 class="title is-1">
            Welcome.
        </h1>

        <hr>
        
        <p>
            Checkout the actions from top menu
        </p>
        <br><br><br><br><br>

    </section>
        
{% else %}

    <section class="section container">
        <h1 class="title is-1">
            Welcome.
        </h1>

        <hr>
        
        
         <p>
            Please <a href="{{ url_for('func_login') }}">Login </a>for accessing other info
        </p>

        <br> 

        <p>
            If you haven't registered, click <a href="{{ url_for('func_register') }}">here</a>
        </p>
        

        <br><br><br><br><br>

    </section>
    
{% endif %} 





{% endblock %}
