{% extends "__bt__.html" %}


{% block content %}


{% if nav['login']=="" %}
    <section class="section columns is-centered is-multiline">

        <div class="column is-4">


            <div class="box ">
                <p class="title is-1 has-text-white has-background-dark" style="padding: 8px;">
                    Login
                </p>

                <form action="#" method="post">

                    <div class="field">
                        <div class="control ">
                            <label class="label">Email</label>
                            <input class="input " type="email" placeholder="Email" required>
                        </div>
                    </div>


                    <div class="field">
                        <div class="control ">
                            <label class="label">Password</label>
                            <input class="input " type="password" placeholder="Password" minlength="8" maxlength="16"
                                required>
                        </div>
                    </div>



                    <div class="field is-grouped">
                        <p class="control">
                            <button type="submit" class="button is-info">Submit</button>
                        </p>
                        <p class="control">
                            <button type="reset" class="button is-light">Cancel</button>
                        </p>
                    </div>


                </form>


            </div>


        </div>

    </section>

{% else %}
    <section class="section columns is-centered is-multiline">

        <div class="column is-4">

                <p class="has-text-centered" style="padding: 8px;">
                    Are you sure you want to log out?
                </p>

                <form action="{{ url_for('func_logout') }}" method="post">

                    <div class="field is-grouped is-grouped-centered">
                        <p class="control">
                            <button type="submit" class="button is-danger">Logout</button>
                        </p>

                    </div>

                </form>


            </div>


        </div>

    </section>
{% endif %}




{% endblock %}