
{% extends "__bt__.html" %}


{% block content %}



<section class="section columns is-centered is-multiline">

    <div class="column is-4">


        <div class="box ">
            <p class="title is-1 has-text-white has-background-dark" style="padding: 8px;">
                Create Account
            </p>

            <form action="#" method="post">

                <div class="field">
                    <div class="control ">
                        <label class="label">SSN ID</label>
                        <input class="input " type="text" placeholder="Customer SSN ID" required>
                    </div>
                </div>

                <div class="field">
                    <div class="control ">
                        <label class="label">Name</label>
                        <input class="input " type="text" placeholder="Customer Name" required>
                    </div>
                </div>

                <div class="field">
                    <div class="control ">
                        <label class="label">Age</label>
                        <input class="input " type="number" placeholder="Age" required>
                    </div>
                </div>

                <div class="row">
                    <div class="control">
                      <label class="label">Address</label>
                      <textarea id="address" name="address" rows="5" cols="65" placeholder="" required></textarea>
                    </div>
                </div>
                <br>
                <div class="row">
                    <p>
                    <label><b>City </b> </label>
                    <input type="text" placeholder="City" required>
                    &nbsp; &nbsp;
                    <label><b> State </b></label>
                    <input type="text" placeholder="State" required>
                    </p>
                </div>


                <br>

                <div>
                    <label class="control">
                        <input type="checkbox" class="checkbox" required="">

                        <span>I Agree To The Terms & Conditions</span>
                    </label>
                </div>

                <br>

                <div class="field is-grouped">
                    <p class="control">
                        <button type="submit" id="myPopup" class="button is-info">
                            <a href="{{ url_for('create_account') }}">Create</a></button>
                    </p>
                    <p class="control">
                        <button type="reset" class="button is-light">Cancel</button>
                    </p>
                </div>


            </form>


        </div>


    </div>

</section>


{% endblock %}
