<div>


    <div class="has-background-warning" style="height: 32px;">
    </div>

    <div class="has-background-black-bis">
        <section class="columns is-centered is-multiline">
            <article class="column is-4">
                <h3 class="title is-3 has-text-warning">
                    About Us
                </h3>
                <p class="has-text-grey-light">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab error maxime dicta voluptate
                    facilis possimus quibusdam nemo voluptatem enim, suscipit sed expedita tempora harum repellendus
                    aperiam. Quidem dignissimos delectus fugiat. Lorem ipsum dolor sit amet consectetur adipisicing

                </p>

            </article>

            <!-- -------------------------------------------------------- -->

            <article class="column is-2">
                <h3 class="title is-3 has-text-warning">
                    Services
                </h3>
                <p class="has-text-grey-light">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab error maxime dicta voluptate
                    aperiam.
                </p>

            </article>

            <!-- -------------------------------------------------------- -->

            <article class="column is-3">
                <h3 class="title is-3 has-text-warning">
                    Contact us
                </h3>
                <p class="has-text-grey-light">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab error maxime dicta voluptate

                </p>

            </article>

            <!-- -------------------------------------------------------- -->
        </section>

    </div>

    <br>


    <div class=" has-background-grey-darker">

        <section class="columns is-centered is-multiline">
            <article class="column is-4">
                <p>
                    <span class="has-text-white">
                        Copyright <i class="far fa-copyright"></i> All rights Reserved by
                    </span>
                    <span class="has-text-warning">
                        Fredrick Bank
                    </span>

                </p>

            </article>

            <!-- -------------------------------------------------------- -->

            <article class="column is-2">


            </article>

            <!-- -------------------------------------------------------- -->

            <article class="column is-3">
                <p>

                    <span class="has-text-warning">
                        Contact us
                    </span>
                    <span class="has-text-white">
                        <a href="#" class="has-text-white">
                            <i class="fab fa-facebook-square"></i>
                        </a>

                        <a href="#" class="has-text-white">
                            <i class="fab fa-twitter-square"></i>
                        </a>

                        <a href="#" class="has-text-white">
                            <i class="fab fa-google-plus-square"></i>
                        </a>

                        <a href="#" class="has-text-white">
                            <i class="fab fa-linkedin"></i>
                        </a>

                    </span>

                </p>

            </article>

            <!-- -------------------------------------------------------- -->
        </section>

    </div>


</div>